# Entornos virtuales
venv/

# Variables de entorno - NUNCA SUBIR
.env
.cache

# Archivos de caché de Python y PySpark
__pycache__/
*.pyc
.pytest_cache/
spark-warehouse/
metastore_db/
derby.log

# ¡NUNCA SUBIR DATOS! 
data/*
!data/.gitkeep

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Archivos del sistema
.DS_Store
Thumbs.db








